* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 10px;
}

header {
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

main {
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
}

main #newTaskBtn {
    width: 100px;
}

main #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #content .card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

 main #content .card * { /* Target every div that is a child of .card */
    padding-left: 20px;
}

main tr {
    background: aqua;
}

aside {
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
    border: 1px solid #000;
}

aside #allItems {
    display: flex;
    flex-direction: column;
}

aside #projects {
    display: flex;
    flex-direction: column;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
}
