* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 6fr 1fr;
    font-family: 'Ubuntu', sans-serif;
}

#container {
    max-width: 1400px;
    width: 100%;
    grid-row: 2 / 3;
    display: flex;
}

/*=============================================== HEADER =======================================*/

header {
    max-width: 1400px;
    width: 100%;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    font-size: 2.5rem;
    box-shadow: 0 0 .3rem #000;
    text-shadow: 0 0 .2rem #5c5c5c;
}

/*================================================ MAIN =======================================*/

main {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-right: 2px solid #000;
    border-left: 1px solid #000;
    box-shadow: 0 0 .3rem #000;
}

main #newTaskBtn {
    align-self: start;
    width: 100px;
    margin: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 30px;
    background-color: #FFF;
    box-shadow: 0 0 .5rem #000;
    cursor: pointer;
}

main #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

/* =================== ITEM CARDS  */

main #content .card {
    width: 95%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #000;
    border: 1px solid #000;
    border-radius: 3px;
}

main #content .card .left {
    height: 100%;
    display: flex;
    align-items: center;
}

main #content .card .left * { /* Target every div that is a child of .left */
    padding-left: 10px;
}

main #content .card .right {
    height: 100%;
    display: flex;
    align-items: center;
}

main #content .card .right * { /* Target every div that is a child of .right */
    padding-right: 10px;
}

main #content .card .priority {
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-right: 10px;
    margin-left: -2px; 
    transform: scaleX(0.6);
}

main #content .card .priority.low {
    background-color: #66FF00;
    box-shadow: 0 0 .1rem #66FF00;
}

main #content .card .priority.medium {
    background-color: #FFA500;
    box-shadow: 0 0 .1rem #FFA500;
}

main #content .card .priority.high {
    background-color: #FF160C;
    box-shadow: 0 0 .1rem #FF160C;
}

main #content .card .left input {
    accent-color: white;
    cursor: pointer;
}

main #content .card img {
    width: 30px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

/*=========================================== SIDEBAR ========================================*/

aside {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #000;
    border-left: 2px solid #000;
    box-shadow: 0 0 .3rem #000;
}

aside #allItems {
    margin-left: 5px;
    margin-top: 15px;
    flex: none;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

aside #allItems a {
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: bold;
}

aside #allItems a:hover {
    text-decoration: underline;
}

aside #allItems a.active {
    transform: scale(1.1);
    transform-origin: left;
    text-decoration: underline;
}

aside #projects {
    flex: 1;
    height: calc(100% - 80px); /* set the height of #projects to be the rest of the aside  */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

aside #projects h3 {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 5px;
    box-shadow: 0 0 .2rem #000;
    text-align: center;
}

aside #projects #projectContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

aside #projects .card {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    box-shadow: 0 0 .2rem #000;
    margin: 2px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 3px;
    word-break: break-all; /* Keep long words inside the div*/
}

aside #projects .card.active {
    text-decoration: underline;
}

aside #projects .card .left {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

aside #projects .card .left a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding-left: 5px;
    width: auto;
}

aside #projects .card .right {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 5px;
}

aside #projects .card img {
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

aside #projects #newProjectBtn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-top: auto; /* push #newProjectBtn to the bottom  */
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    font-size: 30px;
    background-color: #FFF;
    box-shadow: 0 0 .5rem #000;
    cursor: pointer;
}

aside #projects #newProjectBtn:active {
    transform: scale(1.1);
}

/*============================================= FOOTER ========================================*/

footer {
    max-width: 1400px;
    width: 100%;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
    box-shadow: 0 0 .3rem #000;
}

/* ======================================== FORM ============================================ */
.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.form input {
    width: 30%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 .5rem #000;
}

.form input:focus { /* Remove inner border */
    outline: none;
}

.form button {
    font-size: 1rem;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 .5rem #000;
}

.form button:hover {
    cursor: pointer;
}

.form button:active {
    transform: scale(1.1);
}

.form textarea {
    width: 30%;
    height: 100px; 
    resize: vertical; 
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 .5rem #000;
}

.form textarea:focus { /* Remove inner border */
    outline: none;
}

.form label {
    display: flex;
    align-items: center;
}

.form label input { 
    width: 15px;
    height: 15px;
    margin-left: 10px;
    accent-color: white;
    cursor: pointer;
}

.form select {
    width: 30%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 .5rem #000;
}

.form select:focus { /* Remove inner border */
    outline: none;
}