* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-gap: 10px;
}

header {
    grid-column: 1 / 3; 
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #000;
}

main {
    grid-column: 2 / 3; 
    grid-row: 2 / 3; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #000;
}

main #newTaskBtn {
    width: 100px;
    margin: 10px;
}

main #content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main #content .card {
    width: 95%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #000;
}

main #content .card .left {
    height: 100%;
    display: flex;
    align-items: center;
}

main #content .card .left * { /* Target every div that is a child of .left */
    padding-left: 10px;
}

main #content .card .right {
    height: 100%;
    display: flex;
    align-items: center;
}

main #content .card .right * { /* Target every div that is a child of .right */
    padding-right: 10px;
}

main #content .card .priority {
    display: inline-block;
    width: 5px;
    height: 100%;
    margin-right: 10px;
    margin-left: -2px; 
    transform: scaleX(0.6);
}

main #content .card .priority.low {
    background-color: #66FF00;
    box-shadow: 0 0 .1rem #66FF00;
}

main #content .card .priority.medium {
    background-color: #FFA500;
    box-shadow: 0 0 .1rem #FFA500;
}

main #content .card .priority.high {
    background-color: #FF160C;
    box-shadow: 0 0 .1rem #FF160C;
}

aside {
    grid-column: 1 / 2; 
    grid-row: 2 / 3;
    border: 1px solid #000;
}

aside #allItems {
    display: flex;
    flex-direction: column;
}

aside #projects {
    display: flex;
    flex-direction: column;
}

aside #projects .card {
    width: 100%;
    display: flex;
    align-items: center;
}

aside #projects .card * { /* Target every div that is a child of .card */
    padding-left: 5px;
}

footer {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000;
}

/* ======================================== FORM ============================================ */
.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.form input {
    width: 30%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 .5rem #000;
}

.form input:focus { /* Remove inner border */
    outline: none;
}

.form button {
    font-size: 1rem;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 0 .5rem #000;
}

.form button:hover {
    cursor: pointer;
}

.form button:active {
    transform: scale(1.1);
}

.form textarea {
    width: 30%;
    height: 100px; 
    resize: vertical; 
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 .5rem #000;
}

.form textarea:focus { /* Remove inner border */
    outline: none;
}

.form label {
    display: flex;
    align-items: center;
}

.form label input { 
    width: 15px;
    height: 15px;
    margin-left: 10px;
    accent-color: white;
}

.form select {
    width: 30%;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0 0 .5rem #000;
}

.form select:focus { /* Remove inner border */
    outline: none;
}